{% load static %}
<div class="osahan-slider">
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider1.jpg' %}"
              alt="slider1"
              class="img-fluid rounded"
            />
          </div>
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider2.jpg' %}"
              alt="slider1"
              class="img-fluid rounded"
            />
          </div>
          <div class="osahan-slider-item">
            <img
              src="{% static 'img/slider3.jpg' %}"
              alt="slider1"
              class="img-fluid rounded"
            />
          </div>
        </div>